-if(@feed)
  -@feeds.each do |feed|
    %ul
      %ul
      %li= feed.title
      %li= feed.url
      - feed.entries.each do |entry|
        %ul
          %li= entry.title

#tabs
  -if(@hash_userfeeds)
  - i = 0
    %ul
      -@hash_userfeeds.each_pair do |category, arr_userfeeds|
        - i+= 1
        %li
          %a{:href => "#tabs-#{i}"}=category

    - i = 0
    -@hash_userfeeds.each_pair do |category, arr_userfeeds|
      - i+= 1
      %div{id: "tabs-#{i}"}
        %p
          -arr_userfeeds.each do |userfeed|
            =link_to "#{userfeed.feed.title}", {controller: "feeds", action: "show", id: userfeed.feed.id}, id: userfeed.id








