  <% flash.each do | name, message | %>
<divclass="flash-message flash-message-<%=djname%>">
  <%=message%>
</div>
  <%end%>

<div>
  <ul>
    <% if current_user %>
      <li>Hello, <%= current_user.djname %></li>
      <li><%= link_to 'Logout', session_path(session), method: :delete, data: { confirm: 'Are you sure?'} %></li>
        <% else %>
      <li><%= link_to 'Please Login', login_path %></li>
        <% end %>
    </ul>
</div>

<div class="navbar">
 <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Explore Mixes", mixs_path %></li>
      <li><%= link_to "My Profile", artists_path %></li>
      <li><%= link_to 'Logout', root_path %></li>
    </ul>
  </div>
</div>
<% @artists.each do |artists| %>
<h2>DJ<%= @artist.djname %>'s Profile</h2>
<div>
  <%= @artist.image %>
</div>
<div>
  <ul>
    <li><%= @artist.djname %></li>
    <li><%= @artist.location %></li>
    <li><%= @artist.biog %></li>
  </ul>
</div>
<div>
    <li><%= @artist.twitter %></li>
    <li><%= @artist.facebook %></li>
    <li><%= @artist.soundcloud %></li>
</div>
<%end %>
<div>
  Mixes Section Here
</div>
<div>
  Comments Section Here
</div>