<h2>DJ Profiles</h2>
    <% @artists.each do |artist| %>
  <div class="span10 list">
    <ul>
      <li class='dj'><%= link_to artist.djname, artist %></li>
      <li>location: <%= artist.location %></li>
      <li>Genre: <%= artist.genre %></li>
      <li><%= link_to 'View Profile', artist %></li>
    </ul>
  </div>
  <div class="span2 thumb">
    <a><%= image_tag artist.image.thumb.url  %></a>
  </div>
    <% end %>
