<div class="navbar">
    <ul class="nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Explore Mixes", mixes_path %></li>
      <li><%= link_to "My Profile", artists_path %></li>
      <li><%= link_to "New DJ Profile", new_artist_path %></li>
    </ul>
</div>

<h2>DJ Profiles</h2>
    <% @artists.each do |artist| %>
  <div class="span10 list">
    <ul>
      <li class='dj'><%= artist.djname %> Profile</li>
      <li><%= artist.djname %></li>
      <li><%= artist.location %></li>
      <li><%= artist.biog %></li>
      <li><%= artist.twitter %></li>
      <li><%= artist.facebook %></li>
      <li><%= artist.soundcloud %></li>
      <li>
          <% artist.comments.each do |comment| %>
            <%= artist.comment.comment %>
            <%= comment.comment %>
          <% end %>
      </li>
      <li><%= link_to 'Comment On This DJ', new_comment_path %></li>
      <li><%= link_to 'Listen To Mixes', mixes_path %></li>
    </ul>
  </div>
  <div class="span2 thumb">
    <a><%= image_tag artist.image.thumb.url  %></a>
  </div>
    <% end %>
