<%= form_for(@mix) do |f| %>

<div class="field">
  <ul><%= f.label :image %><%= f.file_field :image %></ul>
  <ul><%= f.label :mix %><%= f.file_field :mix %> </ul>
  <ul><%= f.label :genre %><%= f.text_field :genre %></ul>
  <ul><%= f.label :description %><%= f.text_field :description %></ul>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>