  <div class="navbar">
        <ul class="nav">
          <li><%= link_to "Upload Mix", new_mix_path %></li>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Explore DJs", artists_path %></li>
          <li><%= link_to "My Profile", artists_path %></li>
        </ul>
      </div>

    <h2>Mixes</h2>
    <% @mixes.each do |mix| %>
    <div class="span10 list">
      <ul>
        <li class='dj'><%= mix.artist_id %> Profile</li>
        <li><%= mix.genre %></li>
        <li><%= mix.description %></li>
        <li>
          <audio controls="controls">
            Your browser does not support the <code>audio</code> element.
          <source src="<%= mix.mix.url %>">
          </audio>
        </li>
      </ul>
    </div>
     <div class="span2 thumb">
      <a><%= image_tag mix.image.thumb.url  %></a>
    </div>
    <%end %>

