<h1>My Recipe Folder</h1>
<h2>Yum, Yum, Yum!</h2>

<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><%= link_to 'Enter New Recipe', new_recipe_path(method: :create) %>

    </ul>
  </div>
</div>
<h2>All Recipes</h2>

<% @recipes.each do |recipe| %>
<table class="table table-hover">
  <th>
    <tr>
      <td><%= link_to 'Edit Recipe', recipe_path(recipe) %></td>
      <td><%= link_to 'Delete Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </th>
  <th>
    <tr>
      <td>Name</td>
      <td>Category</td>
      <td>Difficulty</td>
      <td>Ingredients</td>
      <td>Pictures</td>
    </tr>
  </th>
    <td>
           <tr>
            <td><%= recipe.name %></td>
            <td><%= recipe.steps %></td>
            <td><%= recipe.food_type %></td>
            <td><%= recipe.ingredients.ingredients if recipe.ingredients %></td>
            <td><%= recipe.pictures.pictures if recipe.pictures %></td>
            </tr>
    </td>
</table>
    <% end %>

