<div class="header-text">
  <h2>What They Say</h2>
</div>
<div class="container">
  <div class="span9">
    <div class="container-blog">
      
          <% @reviews.each do |review| %>
            <h2><%= review.title %></h2>
             <div class="container-blog-photo">
              <p><%= image_tag review.photo %></p>
              </div>
              <p><strong><%= review.created_at.strftime("%d-%m-%y") %></strong></p>
              <p><%= raw review.content %></p>
              <h4><%= link_to "Read More", review %></h4>
              <% end %>

              <h4 class="paginate"><%= paginate @reviews %></h4>
            </div>    
        </div>

        <div class="span3">
          <%= render 'layouts/menu' %>
        </div>

    </div>
</div>
<br>
<br>
