.edit-user-details.clearfix
  = form_for(@user) do |f|
    = render 'shared/error_message' , object: @user
    .field
      = f.label :first_name
      = f.text_field :first_name
    .field
      = f.label :last_name
      = f.text_field :last_name
    .field
      = f.label :email
      = f.text_field :email, id: "user-details-emailbox"
    .field
      = f.label :bio
      = f.text_field :bio
    .field
      = f.label :photo
      = f.file_field :photo
    %br
    = f.submit submit_button_value, class: 'btn btn-success'