.front-page

  .home-page-heading.clearfix
    
  .home-page-body.clearfix
    .span6.home-left
      .home-left-inner
        %img{:alt => "logo", :src => "/assets/freederlogo2.jpg"}


    .span6.home-right
      %h2 Current Users Sign In
      .login
        - if current_user
          = current_user.email
          = button_to "Logout", destroy_user_session_path, method: :delete

        - else
          = form_tag user_session_path do
            %br
            %p.home-text
              = link_to "Forgotten your password?", new_password_path('user')
            %br
            
            = text_field_tag 'user[email]'
            = password_field_tag 'user[password]'
            %br

            = check_box_tag 'user[remember_me]'
            Remember me
            %br
            %br

            %button.sign-in-button.btn-large.btn-info Sign In
            %br
          = button_to "Sign Up", new_user_registration_path, method:"get", class: "sign-up-button btn-large btn-success"
        