<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Steps</th>
    <th>Cuisine</th>
    <th>Image</th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.steps %></td>
    <td><%= recipe.cuisine %></td>
    <td><%= image_tag recipe.recipe_image.thumb.url  %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
