<div class="header-text">
  <h2>My Music</h2>
</div>
<div class="container">
  <div class="span9">
    <div class="container-album">
      
      <div>
        <h3><%= @album.name %></h3>
      </div>
      
      <div id="accordion">
          <% @album.tracks.each do |album| %> 
        <div class="tracks">     
            <h4><%=album.name %></h4>
         </div>
          <div>
            <p>
              <audio controls="controls">Your browser does not support the <code>audio</code> element.
                  <source src="<%= album.song %>">
              </audio>
            </p>
            <p><b>Lyrics</b> | <%=album.lyrics %></p>
          </div>
            <% end %>

        </div>

        <h4 class="backpage">
              <script>document.write('<a href="' + document.referrer + '">Back To Albums</a>')</script>
            </h4>

    </div>
  </div>

  <div class="span3">
    <%= render 'layouts/menu' %>
  </div>
</div>