<div class="header-text">
  <h2>Blog</h2>
</div>
  <div class="container">
    <div class="span9">

          <h2><%= @post.title %></h2>
            <p><%= image_tag @post.photo %></p>
            <p><strong><%= @post.created_at.strftime("%d-%m-%y") %></strong></p>
            <p><%= raw @post.content %></p>
            <h4 class="backpage"><script>document.write('<a href="' + document.referrer + '">Back To Blog</a>')</script>
          </h4>

            <h4>Comments</h4>
              <% @post.comments.each do |comment| %>
                <p><%= comment.content %></p>
              <% end %>


            <%= form_for [ @post, @comment ],  :remote => true do |f| %>
              <%= f.hidden_field :post_id, value: @post.id %>
            <p class="blog-footer"><%= f.text_field :content, :placeholder => "Leave your comment here - hit return to submit" %></p>
            <div class="invisiblebtn"><%= f.submit %></div>
            <% end %>

      </div>
  </div>

