  <div class="header-text">
  <h2>Blog</h2>
  </div>
    <div class="container">        
      <div class="span9">
            <% @posts.each do |post| %>
              <h2><%= post.title %></h2>
                <p><%= image_tag post.photo %></p>
                <p><strong><%= post.created_at.strftime("%d-%m-%y") %></strong></p>
                <p><%= raw post.content %></p>
                <h4><%= link_to "Read More", post %></h4>
                <% end %>

                <h4 class="paginate"><%= paginate @posts %></h4>

          </div>

          <div class="span3">
            <%= render 'layouts/menu' %>
          </div>

    
  </div>

