<div class="header-text">
  <h2>Captain's Blog</h2>
</div>
  <div class="container">        
    <div class="span9">
      <div class="container-blog-post">
          <h2><%= @post.title %></h2>
            <p><%= image_tag @post.photo %></p>
            <p><%= @post.created_at %></p>
            <p><%= @post.content %></p>
            <p class="backpage"><script>document.write('<a href="' + document.referrer + '">Back To Blog</a>')</script></p>
            
            <h4>Comments (be nice!)</h4>
            <% @post.comments.each do |comment| %>
            <ul class="comments">
              <li><%= comment.content %></li>
            </ul>
            <% end %>             
            <%= form_for [ @post, @comment] do |f| %>
              <%= f.hidden_field :post_id, value: @post.id %>
            <p class="blog-footer"><%= f.text_field :content %><%= f.submit "Submit Comment", :class => "btn btn-link" %></p>
            <% end %>       
      </div>    
    </div>

    <div class="span3">
      <%= render 'layouts/menu' %>
    </div>
  </div>
</div>              
<br>
<br>
              