<div class="header-text">
  <ul>
    <li><h2>My Treasure Chest</h2></li>
    <li><h4>...Come inside!</h4></li>
  </ul>
</div>

<div class="container">
  <div class="span9">
    <div class="container-treasure">
      <div class="sign-up">
        <h3>Sign In</h3>
        <h4>Welcome to my chest of treasures!</h4>
          <p>Ok, so maybe not treasure but if you give you me your email, I'll give you a <strong>free</strong> Gwyneth Herbert original track to download - not bad, eh?</p>
          <p>If you've been here before, thanks for coming back - just enter your mail below and you're away! </p>
          <p>If not, click on the "Sign Up," link for more info...</p>
          <p>Gwyn</p>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <h4><%= f.email_field :email, :autofocus => true, :placeholder => "Enter the email you used to sign up with - hit return to submit" %><%= f.submit "Sign In" %></h4>
          <% end %>
          <%= render "fans/shared/links" %>
      </div>
    </div>
  </div>
  <div class="span3">
    <%= render 'layouts/menu' %>
  </div>
</div>