<div class="header-text">
  <h2>What They Say</h2>
</div>
  <div class="container">        
    <div class="span9">
      <div class="container-blog-post">
          <h2><%= @review.title %></h2>
          <div class="container-blog-photo">
            <p><%= image_tag @review.photo %></p>
          </div>
            <p><strong><%= @review.created_at.strftime("%d-%m-%y") %></strong></p>
            <p><%= @review.content %></p>
            <h4 class="backpage">
              <script>document.write('<a href="' + document.referrer + '">Back To Reviews</a>')
              </script>
            </h4>
            <h4>Comments (be nice!)</h4>
            <div id='review_comments'>
              <% @review.comments.each do |comment| %>
                <p><%= comment.content %></p>
              <% end %>             
            </div>
            <%= form_for [ @review, @comment ],  :remote => true do |f| %>
              <%= f.hidden_field :review_id, value: @review.id %>
            <p class="blog-footer"><%= f.text_field :content, :placeholder => "Leave your comment here - hit return to submit" %></p>
            <div class="invisiblebtn"><%= f.submit %></div>
            <% end %>
      </div>    
  </div>

    <div class="span3">
      <%= render 'layouts/menu' %>
    </div>
  </div>             
<br>
<br>
              