<form.form-vertical>
<%= form_for(@recipe) do |f| %>
Name:
  <%= f.text_field :name %>
  <br>
Steps:
  <%= f.text_field(:steps) %>
  <br>
Food Type:
 <%= f.select(:food_type_id) %>
  <br>
Ingredients:
  <%= f.text_field(:ingredients_id, Ingredients.all.map {|ingredients| [ingredients.ingredients, ingredients.id]} ) %>
  <br>
 Pictures:
  <%= f.text_field(:pictures_id, Pictures.all.map {|pictures| [pictures.pictures, pictures.id]} ) %>
  <br>
  <%= f.submit 'Submit' %>
<% end %>
</form>
