<div class='menu'>
 <div>
    <h3><%= link_to 'Home', root_path %></h3>
  </div>
   <div>
    <h3><%= link_to 'Blog', posts_path %></h3>
  </div>
  <div>
    <h3><%= link_to 'Sense Camp', sense_camps_path %></h3>
  </div>
 <div>
    <h3><%= link_to 'Speakers', speakers_path %></h3>
  </div>
  <div>
    <h3><%= link_to 'Events', events_path %></h3>
  </div>
 <div>
    <h3><%= link_to 'Tickets', tickets_path %></h3>
 </div>
  <div>
    <h3><%= link_to 'Make Sense', make_senses_path %></h3>
 </div>

 <%= render 'layouts/social' %>
</div>
<br>
<br>