<div id='menu' class='menu'>
  <ul>
    <li>
      <h3><%= link_to 'MakeSense London', root_path %></h3>
    </li>
    <li>
      <h3><%= link_to 'Sense Camp', sense_camps_path %></h3>
    </li>
    <li>
      <h3><%= link_to 'Tickets', tickets_path %></h3>
    </li>
    <li>
      <h3><%= link_to 'Contact - FIX', root_path %></h3>
    </li>
<!--  <%= render 'layouts/social' %> -->
</div>
