<div class='menu'>
 <div>
    <h3><%= link_to 'Home', root_path %></h3>
  </div>
   <div>
    <h3><%= link_to 'Captains Blog', posts_path %></h3>
  </div>
  <div>
    <h3><%= link_to 'My Music', albums_path %></h3>
  </div>
 <div>
    <h3><%= link_to 'Photo Gallery', photogallery_path %></h3>
  </div>
  <div>
    <h3><%= link_to 'See Me Play', gigs_path %></h3>
  </div>
 <div>
    <h3><%= link_to 'Meet My Friends', friends_path %></h3>
  </div>
 <div>
    <h3><%= link_to 'Treasure Chest', treasure_chest_path %></h3>
  </div>
  <div>
    <h3><%= link_to 'What They Say...', reviews_path %></h3>
  </div>
 <div>
    <h3><%= link_to 'Contact Me', contacts_path %></h3>
 </div>

 <%= render 'layouts/social' %>
</div>