.sidebar-logo
  =image_tag("freederlogo.jpg", alt: "Logo Image")

.sidebar-user
  - if current_user
    .row-fluid
      .span4.sidebar-userimage
        = image_tag current_user.photo.thumb.url, class: "img-polaroid"
      .span4.sidebar-userdetails
        %h5
          = current_user.first_name
          = current_user.last_name
          = current_user.email
    

.sidebar-menu
  %ul.nav.nav-pills.nav-stacked
    %li
      = link_to "Logout", destroy_user_session_path, method: :delete
    %li
      = link_to 'My Profile', my_profile_path
    %li
      = link_to 'Dashboard', feeds_path
    %br

.sidebar-new-feed
  =form_tag create_feed_url do
    %h4 Subscribe To A New Feed
    =label_tag :url, "Enter the URL here:"
    =text_field_tag :url, params[:url]
    %br
    =submit_tag "Submit", class: "btn-info"

