.sidebar-logo
  =link_to image_tag("freederlogo.jpg", alt: "Logo Image"), feeds_path

.sidebar-user
  - if current_user
    .row-fluid
      .sidebar-userinfo.clearfix
        .span3.sidebar-userimage
          = image_tag current_user.photo.thumb.url, class: "img-polaroid"
        .span9.sidebar-userdetails
          %h6
            = "#{current_user.first_name} #{current_user.last_name}"
          %p.sidebar-useremail
            = current_user.email


.sidebar-menu
  %ul.nav.nav-tabs.nav-stacked
    %li
      = link_to 'Dashboard', feeds_path
    %li
      = link_to 'Explore Other Users', users_path
    %li
      = link_to 'My Profile', my_profile_path
    %li
      = link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to logout?'}
  %br

.sidebar-new-feed
  =form_tag create_feed_url do
    %h4 Subscribe To A New Feed
    =text_field_tag :url, params[:url], :placeholder => "Enter URL here", class: "sidebar-text-field"
    =text_field_tag :category, params[:category], :placeholder => "Enter Feed Category", class: "sidebar-text-field"
    %br
    =submit_tag "Submit", class: " btn btn-info"
  / =search_form_for @q, url: search_articles_path, html: {:method => :post} do |f|
  /   %h4 Search For Feeds
  /   =f.label :title_cont
  /   =f.text_field :title_cont

